/* Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

:root{
    --white: #fff;
    --lightskyblue: #B4CFE7;
    --blue: #0161FF;
    --black: #000;
    --portfoliogreen: #A1D39B;
    --portfolioskyblue: #0093CE;
    --portfoliobordeaux: #61082B;
    --portfoliored: #FF1D1D;
    --portfoliogrey: #F5F5F5;
    --portfoliodarkred: #D5001E;
    --portfolioblue: #0D2481;
    --portfolioyellow: #FFD830;
}

/* General */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

.container{
    max-width: 1200px;
}

.container-boxed{
    margin: 0 auto;
    max-width: 1000px;
}

.flex{
    display: flex;
}

.w30{
    width: 30%;
}

.w70{
    width: 70%;
}

.button{
    background-color: var(--blue);
    padding: 10px 15px;
    color: var(--white);
    display: inline-block;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

/* Font Size */
h1{
    font-size: 80px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

/* Header */

/* Menù */
header nav{
    width: 100%;
    background-color: var(--white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header ul{
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}


/* Hero Section */

.hero-section{
    background-color: var(--lightskyblue);
    width: 100%;
    padding-top: 80px;
    position: relative;
    padding-left: 40px;
    bottom: -90px;
}

.hero-flex{
    padding-top: 20px;
    display: flex;
    padding-bottom: 50px;
}

.paragraph-hero{
    padding-bottom: 50px;
}

.w70 img{
    width: 80%;
}

.arrow{
    display: inline-block;
    font-size: 50px;
    margin: 40px 0px;
}

/* Main Section */
main{
    padding-top: 100px;
}
.sezione{
    margin: 50px 0px 50px 0px;
}

.label{
    padding: 20px;
}

.tariffe{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.box-card{
    padding: 0px 30px;
}

.card{
    width: calc((100% - 10px) / 3);
    border: var(--portfoliogrey) solid 1px;
    padding-bottom: 40px;
}
.card h3{
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    border: var(--portfoliogrey) solid 1px;
}

.card h4{
    padding-top: 20px;
}

.card p{
    font-size: 14px;
}

.card li{
    padding: 10px 0;
    display: flex;
    font-size: 14px;
    list-style: none;
}

.billing{
    font-size: 16px;
    color:#9292AE;
}

.button-tariffe{
    text-align: center;
}

.acquista{
    text-decoration: underline;
    color: var(--blue);
}

.card i{
    padding-right: 5px;
}

.card .fa-check{
    color: var(--blue);
}

.card span{
    display: block;
}


.card .second-hr{
    width: 50px;
}

.card p{
    padding-top: 50px;
}

.card hr{
    border: var(--gray) solid 1px;
}

.card .secondo-hr{
    width: 50px;
}

.card h5{
    padding-top: 50px;
    padding-left:30px ;
}

/* Tariffe Enterprise */

.enterprise{
    width: 100%;
    border: var(--portfoliogrey) solid 1px;
    margin-top: 50px;
}

.enterprise hr{
    border: var(--gray) solid 1px;
}

.enterprise li{
    padding: 10px 0;
    display: flex;
    font-size: 14px;
    list-style: none;
    padding-left: 20px;
}

.enterprise h3{
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    border: var(--portfoliogrey) solid 1px;
}

.enterprise h4{
    padding-top: 20px;
}

.enterprise p{
    font-size: 14px;
}

.enterprise a{
    margin-top: 30px;
}

/* Partner */
.sezione-partner{
    margin-top: 100px;
    margin-bottom: 100px;
}

.partner-img{
    width: 50%;
}

.partner-testi{
    padding: 40px;
}

.partner-testi h2,
.partner-testi p{
    margin-bottom: 30px;
}


.button-partner{
    padding: 10px;
    display: inline-block;
    border: 1px solid var(--lightskyblue);
}

/* Plus Dropbox */
.article-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.article{
    padding: 20px 10px;
    width: calc((100% - 60px) / 3);

}

.article img{
    width: 100%;
}

/* Discover Dropbox */
.discover{
    padding-top: 50px;
    padding-bottom: 100px;
}

.discover-portfolio{
    text-decoration: underline;
    color: var(--blue);
}

/* Sezione Clienti */
.portfolio-container {
    margin: 0;
    width: 100%;
    display: flex;
}

.portfolio-column {
    width: calc(100% / 3);
    flex-wrap: wrap;
    background-color: var(--square-big);
    position: relative;
}

.portfolio-column:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.portfolio-designit {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.img-designit {
    width: 50%;
    padding: 30px;
}


.designit-paragrafo{
    padding: 30px;
}

.portfolio-singolo{
    width: 50%;
    height: 50%;
    position: relative;
}

.logo-portfolio{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.logo-portfolio-black{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-1 {
    background-color: var(--portfoliogreen);
}

.portfolio-2 {
    background-color: var(--portfoliobordeaux);
}

.portfolio-3 {
    background-color: var(--portfolioskyblue);
}

.portfolio-4 {
    background-color: var(--portfoliored);
}

.portfolio-5 {
    background-color: var(--portfoliodarkred);
}

.portfolio-6 {
    background-color: var(--portfoliogrey);
}

.portfolio-7 {
    background-color: var(--portfolioblue);
}

.portfolio-8 {
    background-color: var(--portfolioyellow);
}

.logo-white{
    color: var(--white);
}


/* Sezione Banner */
.banner{
    min-width: 100%;
    background-color: var(--lightskyblue);
    padding: 100px 0px;
}

.banner-section{
    display: flex;
    align-items: flex-start;
}

.banner-section h2{
    width: 70%;
    color: var(--portfoliobordeaux);
    font-size: 40px;
}

.banner-section a{
    width: 30%;
    background-color: var(--white);
    color: var(--black);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

/* Sezione FAQ */
.faq-section{
    min-width: 100%;
    background-color: var(--portfoliogrey);
    padding-top: 100px;
    padding-bottom: 100px;
}

.faq-section h2{
    padding-bottom: 20px;
}

#faq {
    margin: auto;
    text-align: center;
    max-width: 1000px;
}
  
#faq ul {
    text-align: left;
}
  
.transition, p, ul li i:before, ul li i:after {
    transition: all 0.3s;
}
  
#faq h3{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 700;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
}
  
#faq p{
    text-align: left;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: .3s opacity, .6s max-height;
    z-index: 2;
}
  
#faq ul{
    list-style: none;
    padding: 0;
    margin: 0 0;
}

#faq ul li{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--black);
}


#faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
}
#faq ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--black);
    width: 3px;
    height: 9px;
}

#faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

#faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
}

#faq ul li input[type=checkbox]:checked ~ h2 {
    color: #000;
}
#faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    transition: .3s;
    opacity: 0;
    transform: translate(0, 50%);
}

#faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

/* Footer */
footer{
    margin: 0 auto;
    background-color: var(--black);
    padding-top: 20px;
}

.footer-flex{
    width: 100%;
    background-color: var(--black);
    height: 200px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2{
    font-size: 25px;
}

footer li{
    list-style: none;
    padding: 5px;
}

footer li a{
    color: var(--white);
    cursor: pointer;
}

.subfooter{
    height: 80px;
    color: var(--white);
    text-decoration: none;
    padding-top: 20px;
    border-top: 1px solid var(--white);
}
