/* Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

:root{
    --white: #fff;
    --lightskyblue: #B4CFE7;
    --blue: #0161FF;
    --black: #000;
    --portfoliogreen: #A1D39B;
    --portfolioskyblue: #0093CE;
    --portfoliobordeaux: #61082B;
    --portfoliored: #FF1D1D;
    --portfoliogrey: #F5F5F5;
    --portfoliodarkred: #D5001E;
    --portfolioblue: #0D2481;
    --portfolioyellow: #FFD830;
}

/* General */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

.container{
    max-width: 1200px;
}

.container-boxed{
    margin: 0 auto;
    max-width: 1000px;
}

.flex{
    display: flex;
}

.w30{
    width: 30%;
}

.w70{
    width: 70%;
}

.button{
    background-color: var(--blue);
    padding: 10px 15px;
    color: var(--white);
    display: inline-block;
}

a{
    text-decoration: none;
    color: var(--black);
}

/* Font Size */
h1{
    font-size: 80px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

/* Header */

/* Menù */
header nav{
    width: 100%;
    background-color: var(--white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header ul{
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style: none;
    padding: 10px;
}


/* Hero Section */

.hero-section{
    background-color: var(--lightskyblue);
    width: 100%;
    padding-top: 80px;
    position: relative;
    padding-left: 40px;
    bottom: -90px;
}

.hero-flex{
    padding-top: 20px;
    display: flex;
    padding-bottom: 50px;
}

.paragraph-hero{
    padding-bottom: 50px;
}

.w70 img{
    width: 80%;
}

.arrow{
    display: inline-block;
    font-size: 50px;
    margin: 40px 0px;
}

/* Main Section */
main{
    padding-top: 100px;
}
.sezione{
    margin: 100px 0px 50px 0px;
}

.label{
    padding: 20px;
}

.tariffe{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.box-card{
    padding: 0px 30px;
}

.card{
    width: calc((100% - 10px) / 3);
    border: var(--portfoliogrey) solid 1px;
    padding-bottom: 40px;
}
.card h3{
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    border: var(--portfoliogrey) solid 1px;
}

.card h4{
    padding-top: 20px;
}

.card p{
    font-size: 14px;
}

.card li{
    padding: 10px 0;
    display: flex;
    font-size: 14px;
    list-style: none;
}

.billing{
    font-size: 16px;
    color:#9292AE;
}

.button-tariffe{
    text-align: center;
}

.acquista{
    text-decoration: underline;
    color: var(--blue);
}

.card i{
    padding-right: 5px;
}

.card .fa-check{
    color: var(--blue);
}

.card span{
    display: block;
}


.card .second-hr{
    width: 50px;
}

.card p{
    padding-top: 50px;
}

.card hr{
    border: var(--gray) solid 1px;
}

.card .secondo-hr{
    width: 50px;
}

.card h5{
    padding-top: 50px;
    padding-left:30px ;
}

.enterprise{
    width: 100%;
    border: var(--portfoliogrey) solid 1px;
    padding-bottom: 40px;
}

.enterprise hr{
    border: var(--gray) solid 1px;
}


.enterprise li{
    padding: 10px 0;
    display: flex;
    font-size: 14px;
    list-style: none;
    padding-left: 20px;
}

.enterprise h3{
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    border: var(--portfoliogrey) solid 1px;
}

.enterprise h4{
    padding-top: 20px;
}

.enterprise p{
    font-size: 14px;
}

.enterprise a{
    margin-top: 30px;
}

/* Partner */
.partner-img{
    width: 50%;
}

.partner-testi{
    padding: 40px;
}

.partner-testi h2,
.partner-testi p{
    margin-bottom: 30px;
}


.button-partner{
    padding: 10px;
    display: inline-block;
    border: 1px solid var(--lightskyblue);
}

/* Footer */
.footer-flex{
    width: 100%;
    background-color: var(--black);
    height: 200px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer li{
    list-style: none;
    padding: 5px;
}
